.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color:  rgb(245, 245, 245);
    font-family:'Poppins';
}

header{
    width: 100%;
    height: 51px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(245, 245, 245);
    position: fixed;
    top: 0px;
    z-index: 1;
}

.LOGO{
    font-size: 20px;
    font-weight: bold;
    color: rgb(250, 105, 130);
    animation-name: LOGO;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes LOGO{
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
    from {
        font-size: 20px;
    }
    to {
        font-size: 16px;
    }
}

ul{
    display: flex;
    gap: 30px;
}

.header_li a{
    font-size: 11px;
    font-weight: bold;
    color: rgb(175, 175, 175);
}

.header_li:hover{
    border-bottom: 2px solid red;
    cursor: pointer;
}

.header_li .active{
    color: black;
}

.section1{
    width: 100%;
    height: 600px;
    display: flex;
    background-color: white;
}

.section_left{
    width: 840px;
    height: 600px;
    background-image: url(../image/sec1pic1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

.section_left_div{
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section_h1{
    border-bottom: 3px solid white;
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.section_h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 40px;
}

.section_left_p{
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

.section_left_button{
    width: 135px;
    height: 40px;
    margin-top: 30px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    background-color: rgb(250, 105, 128);
    border: none;
    border-radius: 5px;
}

.section_left_button:hover{
    cursor: pointer;
}

.section_right{
    width: 600px;
    height: 600px;
    position: relative;
}

.section_right_div{
    width: 420px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section_right_h1{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(170, 175, 180);
}

.section_right_h2{
    font-size: 16px;
    color: #fa6980;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section_right_h3{
    font-weight: bold;
    margin-bottom: 10px;
}

.section_right_p{
    color: rgb(170, 175, 180);
}

.section_right_div2{
    margin-top: 10px;
    display: flex;
    gap: 7px;
}

.fa-regular{
    color:  rgb(170, 175, 180);
}

.section_right_p2{
    color:  rgb(170, 175, 180);
}

.section2_div{
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
}

.section2_h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.cards{
   display: flex;
   justify-content: space-between;

}

.card{
    width: 360px;
    border-radius: 7px;
    background-color: white;
}

.card:hover{
    box-shadow: 5px 5px rgb(200, 200, 200);
}

.card_h{
    margin: 40px 40px 10px 40px;
    font-weight: bold;
    
}

.card_p{
    margin: 0 100px 65px 40px;
    font-size: 13px;
    color: rgb(170, 175, 180);
}

.section3{
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
}

.section3_h{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.section3_div1{
    display: flex;
}

.section3_left_div{
    width: 760px;
}

.section3_leftpic1{
    width: 760px;
    height: 430px;
    background-image: url(../image/sec3pic1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section3_leftpic2{
    width: 760px;
    height: 430px;
    margin-top: 40px;
    background-image: url(../image/sec3pic2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pic_text1{
    position: absolute;
}

.pic_text2{
    position: absolute;
}

.section3_leftpic1_h1{
   margin-top: 40px;
   margin-left: 40px;
   color: white;
   font-weight: bold;
}

.section3_leftpic1_h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 250px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.section3_leftpic1_p{
    color: white;
    margin-left: 40px;
    margin-bottom: 66px;
    margin-right: 5px;
}

.section3_leftpic2_h1{
    margin-top: 40px;
   margin-left: 40px;
   color: white;
   font-weight: bold;
}

.section3_leftpic2_h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 250px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.section3_leftpic2_p{
    color: white;
    margin-left: 40px;
    margin-bottom: 66px;
    margin-right: 5px;
}

.section3_right_div{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.section3_card{
    height: 274px;
    margin-bottom: 38px;
}

.section3_right_p{
    margin-top: 48px;
    font-weight: bold;
}

footer{
    width: 100%;
    height: 200px;
    margin-top: 100px;
    padding: 58px 139px 63px 145px;
    display: flex;
    background-color: rgb(170, 175, 180);
}

.footer_div1{
    display: inline-block;
}

.LOGO2{
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.footer_div2{
    width: 25%;
    margin-left: 63px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer_mid_div{
   height: 85px;
}

.footer_p{
    font-size: 13px;
    margin-bottom: 7px;
    font-weight: bold;
    color: rgb(200, 210, 210);
}

.footer_div3{
    display: flex;
    margin-left: 620px;
    gap: 32px;
}

i{
    color: white;
}


/* contact page */



.contact_section1{
    width: 1160px;
    margin: 0 auto;
    display: flex;
}

.contact_section1_photo{
    width: 580px;
    height: 500px;
    background-image: url(../image/contactpic1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contact_section1_h{
    font-size: 30px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.contact_section1_search{
    width: 580px;
    height: 500px;
    background-color: white;
    position: relative;
}

.contact_section1_info{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

label{
    font-size: 13px;
    font-weight: bold;
}

input{
    width: 360px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 40px;
    border: 2px solid rgb(210, 210, 210);
    border-radius: 7px;
}

.search_button{
    width: 135px;
    height: 40px;
    font-size: 11px;
    color: white;
    border: none;
    background-color: #fa6980;
}

.search_button:hover{
    cursor: pointer;
}

.contact_section2{
    width: 1160px;
    height: 255px;
    margin: 0 auto;
    margin-top: 35px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 2px solid rgb(210, 210, 210);;
    border-bottom: 2px solid rgb(210, 210, 210);;
}

.contact_section2_div{
    display: flex;
    justify-content: space-between;
}

.contact_avatar{
    animation: avatar 3s linear infinite;
}

@keyframes avatar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.contact_section2_h_div{
    width: 360px;
    margin-top: 20px;
}

.contact_section2_h{
    font-size: 24px;
    font-weight: bold;
}

.contact_section2_text_div{
    width: 360px;
}

.contact_section2_text{
    font-size: 14px;
    line-height: 20px;
    color: rgb(170, 175, 180);
}

.contact_section3{
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
}

.contact_photo2{
    width: 100%;
    height: 500px;
}

.contact_section3_p_div{
    width: 1160px;
    margin-top: 80px;
    border-bottom: 2px solid rgb(170, 175, 180);
}

.contact_section3_p{
    font-size: 14px;
    color: rgb(170, 175, 180);
    margin-bottom: 44px;
    line-height: 26px;
}


@media screen and (max-width: 768px) {
}