.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 250, 250);
}

ul{
    display: flex;
    gap: 30px;
}

.header_li a{
    font-size: 11px;
    font-weight: bold;
    color: rgb(175, 175, 175);
}

.active{
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
    border-bottom: 3px solid red;
}

.section1{
    width: 100%;
    height: 600px;
    display: flex;
}

.section_left{
    width: 840px;
    height: 600px;
    background-image: url(../image/image\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

.section_left_div{
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section_h1{
    border-bottom: 3px solid white;
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.section_h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 40px;
}

.section_left_p{
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

.section_left_button{
    width: 135px;
    height: 40px;
    margin-top: 30px;
    color: white;
    background-color: rgb(250, 105, 128);
    border: none;
    border-radius: 5px;
}

.section_right{
    width: 600px;
    height: 600px;
    position: relative;
}

.section_right_div{
    width: 420px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section_right_h1{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(166, 173, 180);
}

.section_right_h2{
    font-size: 16px;
    color: #fa6980;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section_right_h3{
    font-weight: bold;
    margin-bottom: 10px;
}

.section_right_p{
    color: rgb(170, 175, 180);
}

.section_right_div2{
    margin-top: 10px;
    display: flex;
    gap: 7px;
}

.fa-regular{
    color:  rgb(170, 175, 180);
}

.section_right_p2{
    color:  rgb(170, 175, 180);
}