.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
}

header{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul{
    display: flex;
    gap: 30px;
}

.header_li a{
    font-size: 11px;
    font-weight: bold;
    color: rgb(175, 175, 175);
}

.active{
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
    border-bottom: 3px solid red;
}

.section1{
    width: 100%;
    height: 600px;
    display: flex;
    background-color: white;
}

.section_left{
    width: 840px;
    height: 600px;
    background-image: url(../image/image\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

.section_left_div{
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section_h1{
    border-bottom: 3px solid white;
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.section_h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 40px;
}

.section_left_p{
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

.section_left_button{
    width: 135px;
    height: 40px;
    margin-top: 30px;
    color: white;
    background-color: rgb(250, 105, 128);
    border: none;
    border-radius: 5px;
}

.section_right{
    width: 600px;
    height: 600px;
    position: relative;
}

.section_right_div{
    width: 420px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section_right_h1{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(166, 173, 180);
}

.section_right_h2{
    font-size: 16px;
    color: #fa6980;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section_right_h3{
    font-weight: bold;
    margin-bottom: 10px;
}

.section_right_p{
    color: rgb(170, 175, 180);
}

.section_right_div2{
    margin-top: 10px;
    display: flex;
    gap: 7px;
}

.fa-regular{
    color:  rgb(170, 175, 180);
}

.section_right_p2{
    color:  rgb(170, 175, 180);
}

.section2_div{
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
}

.section2_h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.cards{
   display: flex;
   justify-content: space-between;

}

.card{
    width: 360px;
    border-radius: 7px;
    background-color: white;
}


.card_h{
    margin: 40px 40px 10px 40px;
    font-weight: bold;
    
}

.card_p{
    margin: 0 100px 65px 40px;
    font-size: 13px;
    color: rgb(170, 175, 180);
}

.section3{
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
}
.section3_h{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.section3_div1{
    display: flex;
}

.section3_left_div{
    width: 760px;
}

.section3_leftpic1{
    width: 760px;
    height: 430px;
    background-image: url(../image/sec3pic1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section3_leftpic2{
    width: 760px;
    height: 430px;
    margin-top: 40px;
    background-image: url(../image/sec3pic2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pic_text1{
    position: absolute;
    
}

.pic_text2{
    position: absolute;
    
}

.section3_leftpic1_h1{
   margin-top: 40px;
   margin-left: 40px;
   color: white;
   font-weight: bold;
}

.section3_leftpic1_h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 250px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.section3_leftpic1_p{
    color: white;
    margin-left: 40px;
    margin-bottom: 66px;
}

.section3_leftpic2_h1{
    margin-top: 40px;
   margin-left: 40px;
   color: white;
   font-weight: bold;
}

.section3_leftpic2_h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 250px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.section3_leftpic2_p{
    color: white;
    margin-left: 40px;
    margin-bottom: 66px;
}

.section3_right_div{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.section3_card{
    height: 274px;
    margin-bottom: 38px;
}

.section3_right_p{
    margin-top: 48px;
    font-weight: bold;
}

footer{
    width: 100%;
    height: 200px;
    margin-top: 100px;
    padding: 58px 140px 63px 145px;
    display: flex;
    background-color: rgb(170, 175, 180);
}

.footer_div1{
    display: inline-block;
}

.footer_div2{
    width: 25%;
    margin-left: 63px;
    display: flex;
    justify-content: space-between;
}

.footer_mid_div{
   height: 85px;
}

.footer_p{
    font-size: 13px;
    margin-bottom: 7px;
    font-weight: bold;
    color: rgb(200, 210, 210);
}

.footer_div3{
    margin-left: 650px;
    display: flex;
    gap: 35px;
}

i{
    color: white;
}



